<div class="fields">
  <%= f.label :name, "Task" %>
  <%= f.text_field :name %>
  <%= remove_child_link "remove", f %>
  <%# Alternatively you can use a check box: %>
  <%# f.check_box :_delete %>
  <%# f.label :_delete, "(remove)" %>
</div>
