<div class="task">
<% fields_for_task task do |f| -%>
  <%= error_messages_for :task, :object => task %>
  <p>
    <%= f.label :name, "Task:" %>
    <%= f.text_field :name %>
    <%= link_to_function "remove", "$(this).up('.task').remove()" %>
  </p>
<% end -%>
</div>
