<div class="fields">
  <%= f.label :name, "Task" %>
  <%= f.text_field :name %>
  <%= remove_child_link "remove", f %>
  <%# Alternatively you can use a check box: %>
  <%#= f.check_box :_destroy %>
  <%#= f.label :_destroy, "(remove)" %>
</div>
