<div class="fields">
  <p>
    <%= f.label :content, "Answer" %>
    <%= f.text_field :content %>
    <%# f.check_box :_destroy %>
    <%# f.label :_destroy, "Remove" %>
    <%= link_to_remove_fields "remove", f %>
  </p>
</div>